x-mautic-volumes:
  &mautic-volumes
  - ./mautic/config:/var/www/html/config:z
  - ./mautic/logs:/var/www/html/var/logs:z
  - ./mautic/media/files:/var/www/html/docroot/media/files:z
  - ./mautic/media/images:/var/www/html/docroot/media/images:z
  - ./cron:/opt/mautic/cron:z

services:
  db:
    image: percona/percona-server:8.0.44
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    volumes: 
      - mysql-data:/var/lib/mysql
    ports:
      - 3306:3306    
    command:
      - --slow_query_log=1
      - --slow_query_log_file=/var/log/mysql/mysql-slow.log
      - --long_query_time=1
      - --sql-mode==STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION          
    healthcheck:
      test: mysqladmin --user=$$MYSQL_USER --password=$$MYSQL_PASSWORD ping
      start_period: 5s
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      - default

  rabbitmq:
    image: rabbitmq:3
    environment:
      - RABBITMQ_DEFAULT_VHOST=${RABBITMQ_DEFAULT_VHOST}
    volumes: 
      - rabbitmq-data:/var/lib/rabbitmq
    networks:
      - default

  mautic_web:
    image: mautic/mautic:5.2.9-apache
    links:
      - db:mysql
    volumes: *mautic-volumes

    environment:
      - DOCKER_MAUTIC_LOAD_TEST_DATA=${DOCKER_MAUTIC_LOAD_TEST_DATA}
      - DOCKER_MAUTIC_RUN_MIGRATIONS=${DOCKER_MAUTIC_RUN_MIGRATIONS}
    env_file:
      - .mautic_env
    healthcheck:
      test: curl http://localhost
      start_period: 5s
      interval: 5s
      timeout: 5s
      retries: 100
    depends_on:
      db:
        condition: service_healthy
    networks:
      - default
      - web
    labels:
      # Enable Traefik
      - "traefik.enable=true"
      
      # HTTP Router - redirects to HTTPS
      - "traefik.http.routers.mautic-http.rule=Host(`newsletter.smartoys.be`)"
      - "traefik.http.routers.mautic-http.entrypoints=http"
      - "traefik.http.routers.mautic-http.middlewares=https-redirect"
      
      # HTTPS Router
      - "traefik.http.routers.mautic-https.rule=Host(`newsletter.smartoys.be`)"
      - "traefik.http.routers.mautic-https.entrypoints=https"
      - "traefik.http.routers.mautic-https.tls=true"
      - "traefik.http.routers.mautic-https.tls.certresolver=cloudflare"
      - "traefik.http.routers.mautic-https.middlewares=secure-headers"
      
      # Service - specify the port
      - "traefik.http.services.mautic.loadbalancer.server.port=80"
      
      # Connect to the web network
      - "traefik.docker.network=web"

  mautic_cron:
    image: mautic/mautic:5.2.9-apache
    links:
      - db:mysql
    volumes: *mautic-volumes
    environment:
      - DOCKER_MAUTIC_ROLE=mautic_cron
    env_file:
      - .mautic_env
    depends_on:
      mautic_web:
        condition: service_healthy
    networks:
      - default

  mautic_worker:
    image: mautic/mautic:5.2.9-apache
    links:
      - db:mysql
    volumes: *mautic-volumes
    environment:
      - DOCKER_MAUTIC_ROLE=mautic_worker
    env_file:
      - .mautic_env
    depends_on:
      mautic_web:
        condition: service_healthy
    networks:
      - default

volumes:
  mysql-data:
  rabbitmq-data:

networks:
  default:
    name: ${COMPOSE_PROJECT_NAME}-docker
  web:
    external: true